.banner {
    background-color: #4d00ff;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-smiley {
height: 100px;
width: 100px;
}

#smiley {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

button {
    background-color: yellowgreen;
    padding: 15px;
    border-radius: 1rem;

    text-shadow: 5px;
    transition: background-color 1s;
}

button:hover {
    background-color: yellow;
}